
@font-face {
    font-family: 'MiFuente';
    src: url('../Tipografia/Caudex/Caudex-Bold.ttf') format('woff2');
   
  }
  

body{

font-family:'Mifuente';

}
main{
width: 100%;
height: 100vh;


}
.quees {
    width:100% ;
    height:auto ;
    background-color: rgb(213, 77, 52);
    padding: 5% 1%;
    text-align: left;

}
.quees h1{
margin-left: 10% ;


}
.quees section{
width: 100%;
height: auto;
display: flex;


}
.quees section div{

width: 50%;
height: auto;
padding: 5% 1%;


}

.quees section div p{

text-align: justify;

}
.quees div img{
width: 80%;
height: auto;
margin-top: 10%;


}
#Ley {
    width:100% ;
    background-color: rgb(68, 140, 141);
    padding: 4% 2%;
   
   
    
}
#LeyTea {
    width: 100%;
    height: auto;
display: flex;


}
#leyFInal{
width: 60%;
height: auto;
display: block;
text-align: center;
margin: 2% 20%;

}
.accordion-body section {
width: 50%;
height: auto;
text-align: justify;
padding: 5% 2%;
}
.accordion-body section a{
padding: 2% 40%;


}
.accordion-body img{
width: 40%;
height: auto;
margin-top: -10%;



}


#Ley h1{
   padding: 0% 40%;
}
.Mision{
    width: 100%;
    background-color: #f0d0cb;
    padding: 5% 1%;
    text-align: center;
}

#ley2{
    width:100% ;
    background-color:  rgb(240, 170, 44);
    padding: 5% 1%;
    text-align: center;
}

#ley2 h1{

padding: 0% 40%;

}

#leyes{

    width:100% ;
    background-color:  rgb(187, 187, 187);
    padding: 4% 2%;
   
   
}
#leyes h1{

padding: 0% 40%;

}
.logo{

    width: 10%;
    height: auto;

}
.btn-whatsapp {
    position: fixed;          /* 👈 siempre visible */
    bottom: 20px;             /* distancia desde abajo */
    right: 20px;              /* distancia desde la derecha */
    z-index: 1000;            /* encima de todo */
    width: 60px;
    height: 60px;
    border-radius: 50%;       /* redondo */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: #25d366; /* verde WhatsApp */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
.wsp{
    width: 40px ;
    height: 40px;
}
