
@font-face {
    font-family: 'MiFuente';
    src: url('../Tipografia/Caudex/Caudex-Bold.ttf') ;
   
  }
  

body{

font-family:'MiFuente';

}

.logo{

    width: 10%;
    height: auto;

}
nav{

    font-family:'MiFuente';
}
main {
    width: 100%;
    height:100vh;
color: white;
background-color: rgb(37, 60, 87);
font-family:'MiFuente';
text-align: center;


}
main h1 {
padding: 2% 0;

}
#flush-collapseOne {

 background-image:
      linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
      url("../imagenes/logo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;

}
#flush-collapseTwo {

 background-image:
      linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
      url("../imagenes/logo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;

}
#flush-collapseThree {

 background-image:
      linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
      url("../imagenes/logo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;

}
#flush-collapseFour {

 background-image:
      linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
      url("../imagenes/logo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;

}

#ImgTecn {

display: flex;
padding: 0 20%;

}
#ImgTecn img {

width: 250px;
height: auto;
margin: 3%;
}
#imgEspacio {
    background-image:
      linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
      url("../imagenes/logo.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;


}
#imgEspacio img{
width: 300px;
height: auto;
}
#accordionPanelsStayOpenExample #imgEspacio p{
padding: 1% 30%;




}

#accordionPanelsStayOpenExample #imgEspacio a{

    color: black;


}
#txtApoyo section {
padding: 2% 20%;
text-align: justify;

}
#txtApoyo section #intro {
  text-align: center;
}
.accordion-item #flush-collapseFour #imgEspacio section {

padding: 2% 35%;




}



.btn-whatsapp {
    position: fixed;          /* 👈 siempre visible */
    bottom: 20px;             /* distancia desde abajo */
    right: 20px;              /* distancia desde la derecha */
    z-index: 1000;            /* encima de todo */
    width: 60px;
    height: 60px;
    border-radius: 50%;       /* redondo */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    background-color: #25d366; /* verde WhatsApp */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
.wsp{
    width: 40px ;
    height: 40px;
}

@media (max-width: 433px){
#ImgTecn {

display: block;
padding: 0 20%;

}
#ImgTecn img {

width: 150px;
height: auto;
margin: 3%;
}
#imgEspacio img{
width: 200px;
height: auto;
}

#txtApoyo section {
padding: 2% 20%;
font-size: 70%;

}
#SubTitulo{
font-size: medium;


}
#accordionPanelsStayOpenExample #imgEspacio p {
padding: 1% 15%;


}
}


